@import '../../CSSReset.css';
@import '../../App.scss';

.Events {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;
	width: 100vw;
	&__List {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 600px;
		height: 600px;
		margin-top: 60px;
		overflow-y: scroll;
	}
	&__Calendar {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 600px;
		height: 600px;
		margin-top: 50px;
		border-radius: 7px;
		box-shadow: $boxshadow;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.Events__Item {
	height: 60px;
	width: 80%;
	margin-bottom: 30px;
	padding: 15px;
	border-radius: 7px;
	box-shadow: $boxshadow;
	transition: transform 1s;
	user-select: none;
	h5 {
		font-size: clamp(1rem, 2.25vw, 1.25rem);
		margin-bottom: 5px;
	}
	p {
		font-size: clamp(0.75rem, 2vw, 0.9rem);
	}
}

.Events__Item:hover {
	transform: scale(1.1);
}
